

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./agencia-vuelos.component.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">

    <nav   class="navbar navbar-expand-lg bg-body-tertiary " data-bs-theme="dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Agencia de Vuelos</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a routerLink="/reservar"  class="nav-link a"  href="#">Reservar Vuelo</a>
              </li>
              <li class="nav-item">
                <a routerLink="/Generar"  class="nav-link" href="#">Generar Tikete</a>
              </li>
              <li class="nav-item">
                <a routerLink="/inicio"class="nav-link" href="">Cerrar sesion</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>

      <div class="container-card">
      
        <div class="card">
          <figure>
            <img src="https://images.hola.com/images/026b-12c497174912-7bf626c2b6b4-1000/horizontal-1200/viajar-en-familia.jpg">
          </figure>
          <div class="contenido-card">
            <h3>PAQUETES TODO INCLUIDO</h3>
            <p>Encuentra todo lo que debe tener tus vacaciones perfectas todo incluido a ese destino al que sueñas viajar,Cartagena,Cancun,Punto cana o donde quieras ir </p>
            <a href="#">Leer Màs</a>
           
          </div>
        </div>
        <div class="card">
          <figure>
            <img src="https://resources.diariolibre.com/images/binrepository/image_content_10200386_20180626161323-focus-0-0-375-240.jpg">
          </figure>
          <div class="contenido-card">
            <h3>VIAJA CON NOSOTROS</h3>
            <p>Contamos con negocios de talla mundial para visitar el destino de tus sueños,con nosotros tendras atencion y soporte  personalizados durante todo tu viaje !!!...</p>
            <a href="#">Leer Màs</a>
          </div>
        </div>
        </div>
        
        <hr>
        <h3 style="font-size:50px;">VUELOS DISPONIBLES</h3>
        <hr>
    
        <div class="container-card">
            <div class="card">
              <figure>
                <img src="https://upload.wikimedia.org/wikipedia/commons/1/1a/Catedralpopayan.jpg">
              </figure>
              <div class="contenido-card">
                <h3>Popayan</h3>
                <p>es una de las ciudades más antiguas, no solo de Colombia, sino de América,un lugar muy hermoso si quieres visitar</p>
                <hr>
               <p>COP $1.870.000</p>
                <hr>
                <p>Hoteles</p>
                <p><i class="bi bi-star"></i><i class="bi bi-star"></i><i class="bi bi-star"></i><i class="bi bi-star"></i><i class="bi bi-star"></i></p> 
                <a href="#">Leer Màs</a>
                <a class="bi bi-airplane"> Agendar Vuelo</a>
              </div>
            </div>
            <div class="card">
              <figure>
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/ba/Rodaderoskyline.png/280px-Rodaderoskyline.png">
              </figure>
              <div class="contenido-card">
                <h3>Santa Marta</h3>
                <p>Gastronomia ,cultura, artenasias y playas hermosas para visitar y hoteles 5 extrellas</p>
                <hr>
                <p>COP $2.500.000</p>
                 <hr>
                 <p>Hoteles</p>
                 <p><i class="bi bi-star"></i><i class="bi bi-star"></i><i class="bi bi-star"></i><i class="bi bi-star"></i><i class="bi bi-star"></i><i class="bi bi-star"></i></p> 
                 <a href="#">Leer Màs</a>
                 <a class="bi bi-airplane"> Agendar Vuelo</a>
              </div>
            </div>
            <div class="card">
              <figure>
                <img src="https://www.eltiempo.com/files/article_main_1200/uploads/2023/06/15/648b500b999b6.jpeg">
              </figure>
              <div class="contenido-card">
                <h3>Panama</h3>
                <p> Esta combinación se observa en su música, en la gastronomía y en el arte reserva ya tu vuelo y conoce su gran cultura y gastronomia</p>
               <hr>
               <p>COP $2.970.000</p>
                <hr>
                <p>Hoteles</p>
                <p><i class="bi bi-star"></i><i class="bi bi-star"></i><i class="bi bi-star"></i><i class="bi bi-star"></i><i class="bi bi-star"></i><i class="bi bi-star"></i></p> 
                <a href="#">Leer Màs</a>
                <a class="bi bi-airplane"> Agendar Vuelo</a>
              </div>
            </div>
            </div>
            <div class="container-card">
              <div class="card">
                <figure>
                  <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/43/Panor%C3%A1mica_de_San_Andres.JPG/1200px-Panor%C3%A1mica_de_San_Andres.JPG">
                </figure>
                <div class="contenido-card">
                  <h3>San Andreas</h3>
                  <p>Hoteles con gran vista hacia el mar y hermosas playas para relajarse en familia y buena atencion en hoteles reservados.</p>
                  <hr>
                  <p>COP $2.980.000</p>
                  <hr>
                  <p>Hoteles</p>
                   <p><i class="bi bi-star"></i><i class="bi bi-star"></i><i class="bi bi-star"></i><i class="bi bi-star"></i><i class="bi bi-star"></i><i class="bi bi-star"></i></p> 

                  <a href="#">Leer Màs</a>
                  <a class="bi bi-airplane"> Agendar Vuelo</a>
                </div>
              </div>
              <div class="card">
                <figure>
                  <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/47/New_york_times_square-terabass.jpg/1200px-New_york_times_square-terabass.jpg">
                </figure>
                <div class="contenido-card">
                  <h3>New York</h3>
                  <p>Nueva York incluye 5 distritos que se ubican donde el río Hudson desemboca en el océano Atlántico.</p>
                  <hr>
                  <p>COP $5.970.000</p>
                   <hr>
                   <p>Hoteles</p>
                   <p><i class="bi bi-star"></i><i class="bi bi-star"></i><i class="bi bi-star"></i><i class="bi bi-star"></i><i class="bi bi-star"></i><i class="bi bi-star"></i></p> 
                   <a href="#">Leer Màs</a>
                   <a class="bi bi-airplane"> Agendar Vuelo</a>
                </div>
              </div>
              <div class="card">
                <figure>
                  <img src="https://www.westernunion.com/blog/wp-content/uploads/2023/01/5-ciudades-para-vivir-en-Canada.jpg">
                </figure>
                <div class="contenido-card">
                  <h3>Toronto</h3>
                  <p>Toronto, la capital de la provincia de Ontario, es una importante ciudad de Canda.</p>
                  <hr>
                  <p>COP $1.970.000</p>
                   <hr>
                   <p>Hoteles</p>
                   <p><i class="bi bi-star"></i><i class="bi bi-star"></i><i class="bi bi-star"></i><i class="bi bi-star"></i><i class="bi bi-star"></i><i class="bi bi-star"></i></p> 
                   <a href="#">Leer Màs</a>
                   <a class="bi bi-airplane"> Agendar Vuelo</a>
                </div>
              </div>
            </div>
              <div class="container-card">
                <div class="card">
                  <figure>
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b3/North_downtown.JPG/300px-North_downtown.JPG">
                  </figure>
                  <div class="contenido-card">
                    <h3>Cali</h3>
                    <p>Podemos crear la identidad corporativa de tu empresa. Diseño , Maquetación de folletos, Catálogos, Papelería y mucho más.</p>
                    <hr>
                    <p>COP $2.970.000</p>
                     <hr>
                     <p>Hoteles</p>
                     <p><i class="bi bi-star"></i><i class="bi bi-star"></i><i class="bi bi-star"></i><i class="bi bi-star"></i><i class="bi bi-star"></i><i class="bi bi-star"></i></p> 
                     <a href="#">Leer Màs</a>
                     <a class="bi bi-airplane"> Agendar Vuelo</a>
                  </div>
                </div>
                <div class="card">
                  <figure>
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/92/Nacimiento_del_rio_amazonas.jpg/1200px-Nacimiento_del_rio_amazonas.jpg">
                  </figure>
                  <div class="contenido-card">
                    <h3>Amazonas</h3>
                    <p>Nosotros creamos y optimizamos tus perfiles en las Redes Sociales. Importantes para que tu presencia online sea completa.</p>
                    <hr>
                    <p>COP $2.970.000</p>
                    <hr>
                    <p>Hoteles</p>
                    <p><i class="bi bi-star"></i><i class="bi bi-star"></i><i class="bi bi-star"></i><i class="bi bi-star"></i><i class="bi bi-star"></i><i class="bi bi-star"></i></p> 
                    <a href="#">Leer Màs</a>
                    <a class="bi bi-airplane"> Agendar Vuelo</a>
                  </div>
                </div>
                <div class="card">
                  <figure>
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d8/Cancun_Strand_Luftbild_%2822143397586%29.jpg/1200px-Cancun_Strand_Luftbild_%2822143397586%29.jpg">
                  </figure>
                  <div class="contenido-card">
                    <h3>Cancun</h3>
                    <p>playas de azul turquesa, los hoteles de lujo frente al mar, la gastronomía única, plazas, centros comerciales, el caluroso y fresco clima</p>
                    <hr>
                    <p>COP $3.970.000</p>
                     <hr>
                     <p>Hoteles</p>
                     <p><i class="bi bi-star"></i><i class="bi bi-star"></i><i class="bi bi-star"></i><i class="bi bi-star"></i><i class="bi bi-star"></i></p> 
                     <a href="#">Leer Màs</a>
                     <a class="bi bi-airplane"> Agendar Vuelo</a>
                  </div>
                </div>
                </div>
              
              
              
              
            
              
          
    
    
