<div class="p">
    <p>Formulario de registro</p>
</div>



<hr>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
<link rel="stylesheet" href="./registrarse.component.css">
<form action="/procesar_formulario" method="POST">
    <label for="nombre">Nombre de usuario:</label>
    <input class="input"  type="text" id="nombre" name="nombre" required><br><br>
    
    <label for="email">Email:</label>
    <input class="input" type="email" id="email" name="email" required><br><br>
    
    <label for="edad">Contraseña:</label>
    <input  class="input"   type="password" id="edad" name="edad" required><br><br>
      
    <label for="edad"> Confirmar Contraseña:</label>
    <input  class="input"   type="password" id="edad" name="edad" required><br><br>

    <a href="#" class="btn btn-primary">Enviar</a>
</form>